In [1]:
import pandas as pd
import os

In [2]:
csv_path = 'places-dataset'
all_files = os.listdir(csv_path)
print(all_files)

['export_01-06-24_054905.csv', 'export_01-06-24_054906.csv', 'export_01-06-24_054908.csv', 'export_01-06-24_054909.csv', 'export_01-06-24_054910.csv', 'export_01-06-24_054911.csv', 'export_01-06-24_054912.csv', 'export_01-06-24_054914.csv', 'export_01-06-24_054915.csv', 'export_01-06-24_054916.csv']

In [3]:
csv_files = [file for file in all_files if file.endswith('.csv')]

In [5]:
df_array = []

for files in csv_files:
    file_path = os.path.join(csv_path, files)
    df = pd.read_csv(file_path)
    df_array.append(df)
    
combined_df = pd.concat(df_array, ignore_index=True)
combined_df

,Name,Types,Price Level,Rating
0,SMP Negeri 2 Selemadeg,school,NaN,5.0
1,Kantor DESA PUPUAN SAWAH,local_government_office,NaN,5.0
2,Adi Rama 2,"farm, food",NaN,5.0
3,Jelih foto copy,store,NaN,5.0
4,SD Negeri 1 Pupuan Sawah,"primary_school, school",NaN,NaN
...,...,...,...,...
126,Bank BRI ATM - UNIT BRI REJASA TABANAN,"atm, finance",NaN,NaN
127,ATM BRI Unit Rejasa,"atm, finance",NaN,5.0
128,UD Amerta Sari,"furniture_store, home_improvement_store, home_...",NaN,4.8
129,Pasar Rakyat Desa Adat Penatahan,market,NaN,4.0
130,Apotek Maitra Farma,"pharmacy, health, store",NaN,5.0

In [6]:
combined_df.to_csv('combined_csv.csv', index=False)